// Placeholder to allow overriding predefined variables smoothly.




// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        1200px;

$brand-color:           #9575CD;

// $site-title-color:      $brand-color-light !default;

$text-color:            #dddddd;

$link-base-color:       #B388FF;
$link-visited-color:    $link-base-color;
$link-hover-color:      lighten($link-base-color, 10%);


$site-title-color: #ffffff;
$site-background-color: #512DA8;
// $post-link-color: #b794f6;