---
title: "Links"
layout: default
---

{% assign linkscategories = '' | split: '' %}
{% for post in site.links %}
    {% for category in post.categories %}
        {% if linkscategories contains category %}
        {% else %}
            {% assign linkscategories = category | concat: linkscategories%}
        {% endif %}
    {% endfor %}
{% endfor %}

<h4>
{% for category in linkscategories %}
    <a href="{{ site.baseurl }}/links#{{ category | replace: " ","-" }}">
        <span class="badge badge-info">{{category}}</span>
    </a>
{% endfor %}
</h4>

<div class="row listrecent">
{% for category in linkscategories %}
<div class="section-title col-md-12 mt-4">
<h3 id="{{ category | replace: " ","-" }}"><span class="text-capitalize">{{ category }}</span></h3>
</div>
{% for post in site.links %}
    {% if post.title != null %}
        {% if post.categories contains category %}
            {% include linkbox.html %}
        {% endif %}
    {% endif %}
{% endfor %}
{% endfor %}
</div>
