---
title: "Tags"
layout: default
permalink: "/tags.html"
---
<h3>Posts organized by Topic</h3>
{% assign sortedcategories = site.tags | sort %}
<div>
{% for category in sortedcategories %}
    <a href="{{ site.baseurl }}/tags#{{ category[0] | replace: " ","-" }}">
        <span class="badge badge-light">{{category[0]}}</span>
    </a>
{% endfor %}
</div>

{% for category in site.tags %}
<section class="featured-posts">
<div class="section-title col-md-12 mt-4">
<h3 id="{{ category[0] | replace: " ","-" }}"><span class="text-capitalize">{{ category[0] }}</span></h3>
</div>
<div class="row listrecent">
{% assign pages_list = category[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
</div>
</section>
{% endfor %}